.site-button {
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
  color: $text-color;
  display: block;
  min-height: 48px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #444444;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
