.news-list {
  display: none;
}

@media (min-width: $desktop-width) {
  .news-list {
    @include family;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 315px;
    position: absolute;
    bottom: -42px;
  }

  .news-list__link {
    color: #000000;
    padding-left: 0;
    text-decoration: none;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
