.card {
  text-decoration: none;
  display: block;
  width: 100%;

  &:hover > .card__description {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }
}

.card__image {
  display: block;
}

.card__description {
  min-height: 150px;
  padding: 0 27px;
  padding-bottom: 27px;
  border: 1px solid #ededed;
}

.card__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 6px;
}

.card__attributes {
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: $text-color;
  margin: 0;
}

.card__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: $title-color;
  margin: 0;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .card {
    display: flex;
    width: auto;


    &:hover > .card__description {
      box-shadow: 6px 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  .card__image {
    flex-basis: 50%;
    flex-shrink: 0;
  }

  .card__description {
    min-height: 333px;
    flex-basis: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 0 26px;
    box-sizing: border-box;
  }

  .card__title {
    font-size: 20px;
    width: 240px;
    margin-top: 24px;
    margin-bottom: 5px;
  }

  .card__attributes {
    font-size: 15px;
  }

  .card__price {
    font-size: 17px;
    padding-top: 22px;
    margin: auto 6px 26px 6px;
  }
}

@media (min-width: $desktop-width) {
  .card {
    display: block;
    flex-basis: 316px;

    &:hover > .card__description {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    }

    &:hover .card__title {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active .card__title {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .card__image {
    width: 316px;
    height: 462px;
  }

  .card__title {
    margin-bottom: 7px;
  }

  .card__description {
    min-height: 197px;
  }

  .card__price {
    margin: auto 0 26px 0;
  }
}
