.catalog {
  border: none;
}

.catalog__goods-list {
  @include ls-terminate;
  margin-top: 30px;
}

.catalog__goods-item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__goods-list {
    margin-top: 80px;
  }

  .catalog__goods-item {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__goods-list {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
  }

  .catalog__goods-item {
    margin-bottom: 57px;
  }
}

@import "card";
@import "media";
