.media__block {
  margin-bottom: 58px;
  position: relative;
  width: calc(100% - 2px);
  border: 1px solid $border-color;

  &:hover > .media__description {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }
}

.media__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
  margin: 0;
  padding: 23px 37px 25px 88px;
  border-bottom: none;
}

.media__content {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
}

.media__container {
  position: relative;
}

.media__icon {
  display: block;
  width: 103px;
  height: 78px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
}

.media__promo {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $text-color;
  margin: 0;
  margin-bottom: 25px;
  padding: 28px 33px 0 33px;
}

.media__button {
  margin: 0 33px 32px 33px;
}

@media (min-width: $tablet-width) {
  .media {
    width: calc(100% - 100px);
    margin-bottom: 63px;
  }

  .media__block {
    display: flex;
    flex-direction: column;
  }

  .media__container {
    order: 1;
    width: 100%;
    margin-bottom: 38px;
  }

  .media__content {
    /*position: static;
    width: 100%;*/
  }

  .media__title {
    font-size: 20px;
    order: 2;
    padding: 0 105px;
    margin-bottom: 34px;
  }

  .media__promo {
    font-size: 15px;
    line-height: 30px;
    order: 3;
    margin: 0 39px;
    margin-bottom: 35px;
    padding: 0;
  }

  .media__button {
    order: 4;
    margin: 0 40px;
    margin-bottom: 45px;
  }
}


@media (min-width: $desktop-width) {
  .media {
    width: auto;
    min-height: 455px;
    margin-left: 682px;
    margin-bottom: 105px;
  }

  .media__block {
    display: block;
    box-sizing: border-box;
    width: 368px;
    padding: 95px 50px 60px 78px;
  }

  .media__description {
    padding: 0;
    /*padding: 0 55px 60px 78px;*/
  }

  .media__title {
    padding: 0;
  }

  .media__promo {
    margin: 0;
    margin-bottom: 45px;
  }

  .media__container {
    width: 682px;
    margin: 0;
    position: absolute;
    top: 0;
    left: -682px;
  }

  .media__button {
    margin: 0;
  }
}
