/*.special-offer {
  border-bottom: 6px solid #f1f1f1;
}*/

.special-offer__header {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  margin-bottom: 23px;
}

.special-offer__marker {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $decor-color;
  margin-top: 5px;
  text-transform: uppercase;
}

.special-offer__description {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: $text-color;
  margin-bottom: 17px;
}

.special-offer__table {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $text-color;
  width: 100%;
  margin-bottom: 29px;
  border-collapse: collapse;
}

.special-offer__cell {
  padding-top: 10px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ececec;

  &--parameter {
    width: 33%;/*95px;*/
  }
}

.special-offer__image {
  max-width: 100%;
}

.special-offer__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $text-color;
  text-align: center;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 26px;
}

.special-offer__button {
  width: calc(100% - 4px);
  margin: 0 auto;
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .special-offer {
    position: relative;
  }

  .special-offer__header {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    margin-top: 45px;
    margin-bottom: 50px;
  }

  .special-offer__marker {
    line-height: 17px;
    flex-basis: 90px;
    text-align: center;
    padding: 0 18px;
    padding-top: 6px;
  }

  .special-offer__info-block {
    display: flex;
    flex-direction: column;
    width: calc(100% - 378px);
    min-height: 412px;
    padding-right: 44px;
    margin-bottom: 52px;
  }

  .special-offer__description {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 35px;
  }

  .special-offer__price {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 35px;
  }

  .special-offer__image {
    position: absolute;
    top: 107px;
    right: 50px;
    width: 333px;
    height: 404px;
  }

  .special-offer__button {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .special-offer__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 125px;
    margin-bottom: 48px;
  }

  .special-offer__marker {
    flex-basis: 90px;
    margin-top: 9px;
    padding-left: 38px;
    padding-right: 44px;
  }

  .special-offer__info-block {
    width: 292px;
    padding-left: 175px;
    margin-bottom: 71px;
  }

  .special-offer__description {
    margin-bottom: 50px;
  }

  .special-offer__table {
    margin-bottom: 106px;
  }

  .special-offer__cell {
    padding-top: 8px;
    padding-bottom: 12px;
  }

  .special-offer__image {
    width: 525px;
    height: 636px;
    top: -53px;
    right: 0;
    display: block;
    z-index: 10;
  }
}
