.social-list {
  @include ls-terminate;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 27px;
}

.social-list__item {
  flex-basis: 60px;
  flex-shrink: 0;
}

.social-list__icon {
  display: block;

  &--instagram {
    background: $insta no-repeat 0 80%;
    width: 50px;
    height: 29px;
  }

  &--facebook {
    background: $facebook no-repeat 10% 0;
    width: 50px;
    height: 29px;
  }

  &--twitter {
    background: $twitter no-repeat 0 80%;
    width: 50px;
    height: 29px;
  }
}
