@mixin placeholder-style($size, $height) {
  font-weight: normal;
  font-size: $size;
  line-height: $height;
  color: $text-color;
  opacity: 0.3;
}

@mixin input-label-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $title-color;
}

.fields-group {
  position: relative;
  width: 100%;
  margin: 0;
  /*margin-top: 30px;*/
  padding: 0;
  /*padding-top: 43px;
  padding-bottom: 28px;*/
  border: none;
  border-top: 1px solid $decor-color;
}

.fields-group--check {
  padding-top: 41px;
  padding-bottom: 28px;
}

.fields-group--fio {
  padding-top: 35px;
  padding-bottom: 28px;
}

.fields-group--contacts {
  padding-top: 14px;
  padding-bottom: 28px;
}

.fields-group__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $decor-color;
  position: absolute;
  width: 62px;
  top: -10px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.fields-group__title--wide {
  width: 80px;
}

.fields-group__label {
  @include input-label-text;
  display: inline-block;
  position: relative;
  width: 165px;
  vertical-align: top;

  /*  &:first-of-type {
      margin-top: 25px;
    }*/
}

.fields-group__label--radio {
  margin-bottom: 24px;
  padding-left: 62px;

  &::before {
    @include canvas(2px, -6px);
    @include radio(15px, $control-color, 10px, 2px, $text-color);
  }
}

.fields-group__label--checkbox {
  margin-bottom: 43px;
  padding-left: 62px;

  &:last-of-type {
    margin-bottom: 23px;
  }

  &::before {
    @include canvas(0, -10px);
    @include box(36px, 35px, 2px, $text-color);
  }

  &::after {
    @include canvas(14px, -3px);
    @include check(8px, 18px, 45deg, 2px, #000000);
  }
}

.fields-group__radio + .fields-group__label:hover {
  &::before {
    box-shadow: 0 0 0 2px $control-color;
  }
}

.fields-group__radio:not(:checked) + .fields-group__label {
  &::before {
    background-color: #ffffff;
  }
}

.fields-group__radio:active + .fields-group__label {
  &::before {
    box-shadow: 0 0 0 2px rgba(68, 68, 68, 0.3);
  }
}


.fields-group__checkbox + .fields-group__label:hover {
  &::before {
    @include hover;
  }
}

.fields-group__checkbox:not(:checked) + .fields-group__label {
  &::after {
    border: none;
  }
}

.fields-group__checkbox:active + .fields-group__label {
  &::before {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.fields-group__text {
  @include family;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: $text-color;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 2px solid #000000;

  &:last-of-type {
    margin-bottom: 12px;
  }


  &:hover {
    @include hover;
  }
}

/*.fields-group__label--fn {
  /*margin-top: 20px;
  margin-bottom: 3px;

  /*&:first-of-type {
    margin-top: 19px;
  }
}*/

.fields-group__comment {
  @include family;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: $text-color;
  width: 100%;
  box-sizing: border-box;
  margin-top: 31px;
  padding: 14px 15px;
  border: 2px solid #000000;

  &:hover {
    @include hover;
  }
}

.fields-group__text::-webkit-input-placeholder {
  @include placeholder-style(17px, 18px);
}

.fields-group__text::-moz-placeholder {
  @include placeholder-style(17px, 18px);
}

.fields-group__text:-moz-placeholder {
  @include placeholder-style(17px, 18px);
}

.fields-group__text:-ms-input-placeholder {
  @include placeholder-style(17px, 18px);
}

.fields-group__comment::-webkit-input-placeholder {
  @include placeholder-style(17px, 18px);
}

.fields-group__comment::-moz-placeholder {
  @include placeholder-style(17px, 18px);
}

.fields-group__comment:-moz-placeholder {
  @include placeholder-style(17px, 18px);
}

.fields-group__comment:-ms-input-placeholder {
  @include placeholder-style(17px, 18px);
}
/*-------------------------------------------------------------------*/
@media (min-width: $tablet-width) {
  .fields-group {
    position: relative;
    margin-top: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 26px;
    border: none;

    &--contacts {
      &:first-of-type {
        padding-bottom: 0;
      }

      &:nth-of-type(2) {
        padding-top: 0;
        padding-bottom: 26px;
      }
    }
  }

  .fields-group--check:nth-child(2) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -50px;
      width: 100vw;
      height: 100%;
      background-color: #f1f1f1;
    }
  }

  .fields-group__title {
    position: absolute;
    background: none;
    top: 65px;
    left: 0;
  }

  .fields-group__wrapper {
    /*padding-top: 67px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 168px;

    &--col {
      flex-direction: column;
    }
  }

  .fields-group__label {
    font-size: 19px;
    line-height: 18px;
    /*&:first-of-type {
      margin-top: 68px;
    }*/
  }

  .fields-group__label--radio {
    width: 300px;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 80px;

    &::before {
      @include canvas(1px, 2px);
      @include radio(20px, $control-color, 14px, 2px, $text-color);
    }
  }

  .fields-group__label--checkbox {
    width: 158px;
    margin-bottom: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 80px;

    /*&:last-of-type {
      margin-bottom: 22px;
    }*/

    &::before {
      @include canvas(-1px, 0);
      @include box(50px, 48px, 2px, $text-color);
    }

    &::after {
      @include canvas(18px, 7px);
      @include check(15px, 28px, 45deg, 2px, #000000);
    }
  }

  .fields-group__label--fn {
    flex-basis: 125px;

    &:nth-of-type(1) {
      flex-basis: 72px;
    }
  }

  .fields-group__text {
    box-sizing: border-box;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 24px;
    flex-grow: 0;
    background: none;

    &[name="full-name"] {
      width: calc(100% - 125px);
    }

    &[name="full-name"]:first-of-type {
      width: calc(100% - 72px);
    }

    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  /*.fields-group__wrapper > .fields-group__text--phone {
    margin-top: 55px;
    margin-bottom: 16px;
  }*/

  /*.fields-group__wrapper > .fields-group__text--email {
    margin: 0;
    margin-bottom: 39px;
  }*/

  .fields-group__title--wide {
    top: 15px;
  }

  .fields-group__comment {
    min-height: 142px;
    margin: 0;
    /*margin-top: 50px;*/
    margin-bottom: 25px;
  }

  .fields-group__text::-webkit-input-placeholder {
    @include placeholder-style(19px, 18px);
  }

  .fields-group__text::-moz-placeholder {
    @include placeholder-style(19px, 18px);
  }

  .fields-group__text:-moz-placeholder {
    @include placeholder-style(19px, 18px);
  }

  .fields-group__text:-ms-input-placeholder {
    @include placeholder-style(19px, 18px);
  }

  .fields-group__comment::-webkit-input-placeholder {
    @include placeholder-style(19px, 18px);
  }

  .fields-group__comment::-moz-placeholder {
    @include placeholder-style(19px, 18px);
  }

  .fields-group__comment:-moz-placeholder {
    @include placeholder-style(19px, 18px);
  }

  .fields-group__comment:-ms-input-placeholder {
    @include placeholder-style(19px, 18px);
  }
}

@media (min-width: $desktop-width) {
  .fields-group {
    box-sizing: border-box;
    width: 100%;
    margin-top: 0;
    padding-bottom: 23px;
  }

  .fields-group__wrapper {
    justify-content: flex-start;
    padding-left: 175px;
  }

  .fields-group--check:nth-child(2)::before {
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 228px;
  }

  .fields-group--fio {
    padding-top: 54px;
    padding-bottom: 26px;
  }

  .fields-group--fio,
  .fields-group--contacts,
  .fields-group:last-of-type {
    padding-right: 175px;
  }

  .fields-group__title {
    top: 67px;
    left: 62px;

    &--wide {
      top: 20px;
    }
  }

  .fields-group--fio > .fields-group__title {
    top: 70px;
  }

  .fields-group__label {
    &--radio {
      flex-shrink: 0;
      flex-basis: 100%;
    }

    &--checkbox {
      flex-basis: 183px;
    }
    /*&:first-of-type {
      margin-top: 64px;
    }*/
  }

  /* .fields-group__text[name="full-name"] {
     width: calc(100% - 125px);

     &[name="full-name"]:first-of-type {
       width: calc(100% - 72px);
     }
   }*/

  /*.fields-group__label--fn:first-of-type + .fields-group__text {
    flex-basis: 590px;
  }*/
}
