@import "fields-group.scss";

.order {
  width: auto;
  margin: 0;
  padding: 0 30px;
}

.order__promo {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-color: $text-color;
  /*margin: 0 auto;*/
  margin-top: 23px;
  margin-bottom: 31px;
  /*padding-bottom: 3px;*/
}

.order__reminder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $text-color;
  margin-top: 17px;
  margin-bottom: 30px;
}

.order__button {
  @include family;
  width: 100%;
  padding: 0;
  margin-bottom: 55px;
}


@media (min-width: $tablet-width) {
  .order {
    padding: 0 50px;
  }

  .order__contacts {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -50px;
      width: 100vw;
      height: 100%;
      background-color: #f1f1f1;
    }
  }

  .order__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 0 auto;
  }

  .order__promo {
    font-size: 17px;
    line-height: 30px;
    width: 100%;
    margin: 0;
    margin-top: 71px;
    margin-bottom: 8px;
  }

  .order__reminder {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
  }

  .order__button {
    width: 230px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    width: $desktop-content-width;
    margin: 0 auto;
    margin-top: 124px;
    padding: 0;
  }

  .order__promo {
    width: 700px;
    padding-left: 175px;
  }

  .order__contacts::before {
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .order__wrapper {
    width: 100%;
    box-sizing: border-box;
    padding-left: 175px;
    padding-right: 175px;
  }
}
